<%- include('../public/header.html'); %>

<link rel="stylesheet" href="/static/code-mirror/lib/codemirror.css">
<link rel="stylesheet" href="/static/code-mirror/theme/solarized.css">
<link rel="stylesheet" href="/static/code-mirror/addon/fold/foldgutter.css">
<link rel="stylesheet" href="/static/code-mirror/addon/dialog/dialog.css">
<link rel="stylesheet" href="/static/prism/prism.css">
<link rel="stylesheet" href="/static/css/github-markdown.css">

<style>
.border + .border{
  border-top: 1px solid #b6b6b6;
  border-left: 1px solid #b6b6b6;
}

</style>

<button class="btn btn-info" id="save">
    SAVE
</button>

<div class="container-fluid">

  <div class="row">
    <div class="editor-wrap col-lg-6 col-md-6 col-sm-6 col-xs-6 border">
      <textarea name="editor" id="editor" cols="30" rows="10"></textarea>
    </div>
    <div class="preview-wrap col-lg-6 col-md-6 col-sm-6 col-xs-6 border">
      <div class="markdown-body"></div>
    </div>
  </div>

</div>



<script src="/static/code-mirror/lib/codemirror.js"></script>
<!--代码折叠start-->
<script src="/static/code-mirror/addon/fold/foldcode.js"></script>
<script src="/static/code-mirror/addon/fold/foldgutter.js"></script>
<script src="/static/code-mirror/addon/fold/brace-fold.js"></script>
<script src="/static/code-mirror/addon/fold/xml-fold.js"></script>
<script src="/static/code-mirror/addon/fold/indent-fold.js"></script>
<script src="/static/code-mirror/addon/fold/markdown-fold.js"></script>
<script src="/static/code-mirror/addon/fold/comment-fold.js"></script>
<!--代码折叠stop-->
<!--代码查找start-->
<script src="/static/code-mirror/addon/search/search.js"></script>
<script src="/static/code-mirror/addon/search/searchcursor.js"></script>
<script src="/static/code-mirror/addon/search/jump-to-line.js"></script>
<script src="/static/code-mirror/addon/dialog/dialog.js"></script>
<!--代码查找stop-->
<script src="/static/code-mirror/mode/javascript/javascript.js"></script>
<script src="/static/code-mirror/mode/markdown/markdown.js"></script>

<script src="/static/prism/prism.js"></script>
<script src="/static/js/marked.js"></script>

<script src="/static/js/editor/editor-m.js"></script>



