<%- include('../public/header.html') %>

<style>
    .todd-img{
        width: 100%;
        height: 100%;
    }
</style>

<div class="container">

    <div class="card row">
        <img class="card-img-top todd-img" data-src="holder.js/800x100?auto=yes&bg=555&fg=333&text=Third slide&fg=fff&bg=0c9" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">User</h4>
                <p class="card-text" style="word-wrap: break-word;">
                    <strong>s:</strong>
                    <%=s%>
                </p>
                <p class="card-text">
                    <strong>sInfo.createTimestamp:</strong>
                    <%=sInfo.createTimestamp%>
                </p>
                <p class="card-text">
                    <strong>sInfo.updateTimestamp:</strong>
                    <%=sInfo.updateTimestamp%>
                </p>
                <p class="card-text">
                    <strong>sInfo.type:</strong>
                    <%=sInfo.type%>
                </p>
                <p class="card-text">
                    <strong>sInfo.userId:</strong>
                    <%=sInfo.userId%>
                </p>
                <p class="card-text">
                    <strong>sInfo.userId:</strong>
                    <%=sInfo.userId%>
                </p>
                <p class="card-text">
                    <strong>uInfo.account:</strong>
                    <%=uInfo.account%>
                </p>
                <p class="card-text">
                    <strong>uInfo.secret:</strong>
                    <%=uInfo.secret%>
                </p>
                <p class="card-text">
                    <strong>userId:</strong>
                    <%=userId%>
                </p>

                <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</div>

<script>
$(document).ready(function(){

});
</script>











