<%- include('../public/header.html') %>

<div class="container">

    <div class="card row">
        <img class="card-img-top" data-src="holder.js/800x400?auto=yes&bg=555&fg=333&text=Third slide" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">User</h4>
                <p class="card-text" style="word-wrap: break-word;">
                    <strong>webS:</strong>
                    <%=webS%>
                </p>
                <p class="card-text">
                    <strong>webInfo.createTimestamp:</strong>
                    <%=webInfo.createTimestamp%>
                </p>
                <p class="card-text">
                    <strong>webInfo.updateTimestamp:</strong>
                    <%=webInfo.updateTimestamp%>
                </p>
                <p class="card-text">
                    <strong>webInfo.type:</strong>
                    <%=webInfo.type%>
                </p>
                <p class="card-text">
                    <strong>webInfo.userId:</strong>
                    <%=webInfo.userId%>
                </p>
                <p class="card-text">
                    <strong>webInfo.userId:</strong>
                    <%=webInfo.userId%>
                </p>
                <p class="card-text">
                    <strong>userInfo.account:</strong>
                    <%=userInfo.account%>
                </p>
                <p class="card-text">
                    <strong>userInfo.secret:</strong>
                    <%=userInfo.secret%>
                </p>

                <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</div>

<script>
$(document).ready(function(){

});
</script>











