<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">WNCBB</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%if('view/index'==path){%>active<%}%>">
        <a class="nav-link" href="/view/index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item <%if('article/list'==path){%>active<%}%>">
        <a class="nav-link" href="/view/list">list <span class="sr-only">(current)</span></a>
      </li>
      <%if(locals.v.userId>0){%>
      <li class="nav-item <%if('view/logout'==locals.path){%>active<%}%>">
        <a class="nav-link" href="/user/logout">Logout</a>
      </li>
      <%}else{%>
      <li class="nav-item <%if('view/register'==locals.path){%>active<%}%>">
        <a class="nav-link" href="/view/register">Register</a>
      </li>
      <li class="nav-item <%if('view/login'==locals.path){%>active<%}%>">
        <a class="nav-link" href="/view/login">Login</a>
      </li>
      <%}%>
      <li class="nav-item <%if('view/user'==locals.path){%>active<%}%>">
        <a class="nav-link" href="/view/user">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<script>
  $(document).ready(function(){
    
  });
</script>




