<%- include('../public/header.html') %>

<div class="container">
    <form action="">
        <div class="form-grouop">
            <label for="email">email</label>
            <input id="email" class="form-control" type="email" placeholder="hello world">
            <small id="emailHelp" class="form-text text-muted">
                Please input the email
            </small>
        </div>
        <div class="form-group">
            <label class="select" for="select">select</label>
            <select id="select" class="form-control" name="select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <s></s>
            </select>
        </div>
        <div class="form-group">
            <legend>Radio Button</legend>
            <div class="form-check">
                <label class="form-check-label" for="radio1">
                    <input id="radio1" class="form-check-input" type="radio" name="radio" value="radio1">
                    This is radio1
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label" for="radio2">
                    <input id="radio2" class="form-check-input" type="radio" name="radio" value="radio1" checked>
                    This is radio2
                </label>
            </div>
        </div>
        <div class="form-group">
            <legend>Check Button</legend>
            <div class="form-check">
                <label class="form-check-label" for="check1">
                    <input id="check1" class="form-check-inputa" type="checkbox">
                </label>
            </div>
        </div>
    </form>
</div>

