<!doctype html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/tether/tether.css">
  <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
  <script src="/static/js/jquery-3.1.1.js"></script>
  <script src="/static/js/jquery.cookie.js"></script>
  <script src="/static/js/jquery-ext.js"></script>
  <script src="/static/js/jquery-ext.js"></script>
  <script src="/static/js/holder.min.js"></script>
  <script src="/static/tether/tether.min.js"></script>
  <script src="/static/bootstrap/bootstrap.min.js"></script>
  <% if(locals.ws){ %>
  <script src="/static/js/socket.io.min.js"></script>
  <% } %>
<!--
  <script src="/static/js/jquery-ext.js"></script>
  <script src="/static/js/jquery.ajaxfileupload.js"></script>
  <script src="/static/js/tether/tether.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/holder.js"></script>
  <script src="/static/js/jquery.cookie.js"></script>
  <script src="/static/js/socket.io.js"></script>
-->
  <title><%=locals.title%></title>
</head>
<body>
  <%- body %>
</body>
</html>
